{% load static %}
<script src="{% static 'jQuery.js' %}"></script>
<script src="{% static 'script.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Topaz</title>
        <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body onload="addNewActivityLine()">
        <header>
            <div class="angleBracketHolder">
                <h1>></h1>
            </div>
            <div class="content">
                <h1>Topaz</h1>
                <h2>Tourism Made Easy</h2>
            </div>
        </header>
        <section>
            <div class='angleBracketHolder'>
                <h3>></h3>
                <input type='text' class='spacer'>
                <h3>></h3>
                <div class='spacer'>
                    <input type="date">
                    <br>
                    <span>from</span>
                    <br>
                    <input type="time">
                    <br>
                </div>
                <h3>></h3>
            </div>
            <div class='content'>
                <form id="form">
                    <h3>What city are you seeing?</h3>
                    <input type="text" id="where">
                    <br>
                    <h3>When will you be there?</h3>
                    <input type="date" id="date">
                    <br>
                    <span>from</span>
                    <br>
                    <input type="time" id="start">
                    <br>
                    <h3>What would you like to do?</h3>
                    <ul id="activities"></ul>
                    <input type="button" value="+" onclick="addNewActivityLine()">
                    <br>
                </form>
                <!-- <button id="go" onclick="disableForm()">GO!</button> -->
                <form action='results' method='GET'>
                <button id="resultsButton" type='submit'>Plan My Day!</button>
            </div>
        </section>
    </body>
</html>
