{% load static %}
<script src="{% static 'jQuery.js' %}"></script>
<script src="{% static 'script.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Topaz</title>
        <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body onload="addNewActivityLine()">
        <header class='main'>
            <div class="angleBracketHolder">
                <h1>></h1>
            </div>
            <div class="content">
                <h1>Topaz</h1>
                <h2>Tourism Made Easy</h2>
            </div>
        </header>
        <section>
            <div class='angleBracketHolder'>
                <h3>></h3>
                <input type='text' class='spacer field'>
                <h3>></h3>
                <div class='spacer'>
                    <input type="date" class = 'field'>
                    <br>
                    <span>from</span>
                    <br>
                    <input type="time" class='field'>
                    <br>
                </div>
                <h3>></h3>
            </div>
            <div class='content'>
                <form id="form">
                    <h3>What city are you seeing?</h3>
                    <input type="text" id="city" class='field'>
                    <br>
                    <h3>When will you be there?</h3>
                    <input type="date" id="date" class='field'>
                    <br>
                    <span>from</span>
                    <br>
                    <input type="time" id="startTime" class='field'>
                    <span>to</span>
                    <input type="time" id="endTime" class='field'>
                    <br>
                    <h3>What would you like to do?</h3>
                    <ul id="activities"></ul>
                    <input type="button" value="+" onclick="addNewActivityLine()" class='buttonClass'>
                    <br>
                </form>
                <!-- <button id="go" onclick="disableForm()">GO!</button> -->
                <form action='results' method='GET'>
                <button id="resultsButton" type='submit' class='buttonClass'>Plan My Day!</button>
            </div>
        </section>
        <section class='moreDetails' id='moreDetails'>
            <div>
                <h2>foo</h2>
                <img class='yelpStars' src="{% static 'resources\yelpStars\large_1@2x.png' %}" alt="">
                <span class='totalReviews'>538 Reviews</span>
                <br>
                <span class='price'>$$</span>
                <span class='bullet'>></span>
                <span class='categories'>Breakfast & Brunch, Bagels, Sandwiches</span>
                <br>
                <span>262 S 20th St</span>
                <br>
                <span>Philadelphia, PA 19103</span>
            </div>
            <div class='vl'></div>
            <div>
                <img class='yelpPhoto'src="https://s3-media0.fl.yelpcdn.com/bphoto/NwenshmRDzryFAPVbXZgJg/o.jpg" alt="">
                <a href="https://www.yelp.com/biz/spread-bagelry-philadelphia-2?osq=spread+bagelry" target='_blank'>
                    <img class='yelpLogo' src="{% static 'resources\yelpLogo.png' %}" alt="Yelp logo">
                </a>
            </div>
        </section>
    </body>
</html>
