body, h1, h2, h3 {
  padding: 0 0;
  margin: 0;
}

body {
  background: rgb(255, 241, 196);
}

header {
  background: rgb(255, 196, 0);
}

header div {
  width: 400px;
}

h1 {
  font-family: 'Bree Serif';
  font-size: 100;
  text-align: right;
}

header h2 {
  font-family: 'Bree Serif';
  font-style: italic;
  font-weight: lighter;
  text-align: right;
  padding-bottom: 5;
}