body, h1, h2, h3, ul {
  font-family: 'Bree Serif';
  padding: 0 0;
  margin: 0;
}

section, div {
  display: inline-block;
  vertical-align: top;
}

body {
  background: rgb(255, 241, 196);
}

header.main {
  background: rgb(255, 196, 0);
}

.angleBracketHolder {
  width: 150;
  text-align: right;
  vertical-align: top;
}

.content {
  border-left: 5px solid black;
  padding-left: 8px;
  padding-right: 8px;
}

h1 {
  font-size: 100;
}

h2 {
  font-style: italic;
  font-weight: lighter;
}

header h2 {
  padding-bottom: 5;
}

div.angleBracketHolder, div.content {
  padding-top: 40px;
}

span {
  margin: 4px;
  font-family: 'Source Sans Pro';
}

h3 {
  font-weight: lighter;
}

.spacer {
  visibility: hidden;
}

.field {
  margin: 5px;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid rgb(255, 196, 0);
}

input {
  font-family: 'Source Sans Pro';
}

activity .field {
  width: 250px;
}

.buttonClass {
  background-color: inherit;
  transition: 0.3s;
}

.buttonClass:hover {
  background-color: rgba(255, 196, 00, 0.4);
}

input.buttonClass {
  font-family: 'arial';
  font-weight: bolder;
  border-radius: 50%;
  border: 1px solid rgb(255, 196, 0);
  text-align: center;
  vertical-align: middle;
}

button {
  font-family: 'Bree Serif';
  font-size: 20px;
  padding: 0px 10px 4px 10px;
  border: 2px solid rgb(255, 196, 0);
  border-radius: 20px;
}

*:focus {
  outline: none;
  /* outline-color: rgba(255, 196, 0, 0.4); */
  background-color: rgba(255, 196, 0, 0.4);
}

.moreDetails {
  position: relative;
  top: 227px;
  max-width: 600px;
  border-left: 2px solid rgb(255, 196, 0);
  padding-left: 8px;
}

.reviews {
  position: relative;
  font-weight: bold;
  top: -7px;
}

.moreDetails span {
  margin-bottom: 5px;
}

.yelpPhoto {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.moreDetails p {
  font-family: 'Source Sans Pro';
}

hr {
  border-top: 1px solid rgb(255, 196, 0);
}